@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.page-content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #333; }
  .page-content h1 {
    font-weight: 400; }
  .page-content h1, .page-content h3, .page-content h4 {
    text-align: left; }
  .page-content h3, .page-content h4 {
    color: gray; }
  .page-content p {
    text-align: left; }
  .page-content img {
    max-width: 100%;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px; }

.toggle {
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
  font-size: 30px;
  color: #01FFDA;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .toggle:hover {
    color: #29D4E8; }

.sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 55px;
  right: 0;
  bottom: 0px;
  left: -250px;
  width: 180px;
  padding: 0px;
  background: #EFEFEF;
  color: #323232;
  z-index: 0; }
  
  .sidebar ul {
    
    margin: 0;
    padding: 0; }

    .sidebar p {
     padding-left:20px;
    }


 
    .sidebar h1,h2,h3,h4,h5 {
    color:#9400F4;
    font-size:12pt;
    text-indent:20px;
    }
   
    .sidebar h1:hover {
      opacity: none;
      color: #29D4E8; }
      .sidebar img {
        position: absolute;
        bottom:0px;
      }

    .sidebar h2:hover {
      opacity: none;
      color: #29D4E8; }
      .sidebar img {
        position: absolute;
        bottom:0px;
      }

    .sidebar h3:hover {
      opacity: none;
      color: #29D4E8; }
      .sidebar img {
        position: absolute;
        bottom:0px;
      }

    .sidebar h4:hover {
      opacity: none;
      color: #29D4E8; }
      

    .sidebar h5:hover {
      opacity: none;
      color: #29D4E8; }
    
     .sidebar li {
      text-indent: 30px;
      text-transform: uppercase;
      opacity: .80;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }

     .sidebar li:hover {
      opacity: none;
      color: #29D4E8; }
      .sidebar img {
        position: absolute;
        bottom:0px;
      }

      .sidebar a:hover {
      opacity: none;
      color: #29D4E8; }
      .sidebar img {
        position: absolute;
        bottom:0px;
      }

    .sidebar img {
        position: absolute;
        bottom:0px;
      }

    .sidebar hr {
      /* Gradient transparent - color - transparent */
   
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

    }

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .page-wrapper .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .page-wrapper .toggle {
    left: 190px; }
  #sidebartoggler:checked + .page-wrapper .page-content {
    padding-left: 200px; }

#header {
  min-width: 1083px;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 10000;
  background-color:#323232;
  padding:5px;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
body, input, textarea, select, button, table {
  font-family: '나눔고딕',NanumGothic,'돋움',dotum,Helvetica,'Apple SD Gothic Neo',applegothic,sans-serif;
  font-size: 10px;
  color: #3c3c3c;
}

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      -webkit-transform-style: preserve-3d;
      background-color: transparent;
    }
    .gwd-img-wo7k {
      position: absolute;
      width: 117px;
      height: 26px;
      left: 1640.14285714284px;
      top: 14.7007533285711px;
    }
    .gwd-img-mybm {
      position: absolute;
      width: 56px;
      height: 11px;
      left: 62.5714285714284px;
      top: 19.9025418460004px;
    }
    .gwd-img-4wnd {
      position: absolute;
      width: 29px;
      height: 29px;
      left: 1822.0714285714px;
      top: 13.2294893882855px;
    }
    .gwd-img-tc8n {
      position: absolute;
      width: 29px;
      height: 29px;
      left: 1777.42857142857px;
      top: 13.233655120571px;
    }
    .gwd-img-ksls {
      position: absolute;
      width: 84px;
      height: 26px;
      left: 132.285714285714px;
      top: 13.0728878265717px;
    }

/*# sourceMappingURL=compiled.css.map */
